<div class="modal hide fade" id="post" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container">
                    <p class="modal-heading">タグクラウドプレビュー</p>
                    <p class="a">追加した文章はドラッグ&ドロップで動かせます
                        <button class="float-right btn btn-danger btn-lg mb-2 canvasreset">リセット</button>
                    </p>
                    <div class="canvas-container mx-auto">
                        <canvas id="cv1" style="border: solid 1px #efefef;"></canvas>
                    </div>
                    <% color = {"赤": "red", %>
                    <%          "桃": "pink", %>
                    <%          "紫": "purple", %>
                    <%          "深紫": "deeppurple", %>
                    <%          "藍": "indigo", %>
                    <%          "青": "blue", %>
                    <%          "水": "lightblue", %>
                    <%          "薄青": "cyan", %>
                    <%          "鴨の羽": "teal", %>
                    <%          "緑": "green", %>
                    <%          "薄緑": "lightgreen", %>
                    <%          "黄緑": "lime", %>
                    <%          "黄": "yellow", %>
                    <%          "琥珀": "amber", %>
                    <%          "橙": "orange", %>
                    <%          "深橙": "deeporange", %>
                    <%          "茶": "brown", %>
                    <%          "灰": "grey", %>
                    <%          "青灰": "bluegrey" } %>
                    <%= form_with url: "#" do |form| %>
                        <div class="background-container mt-2" style="border: solid 1px #efefef;">
                            <p class="display-block pt-3 modal-heading">背景色を選択</p>
                            <div class="back-color-container d-inline-block d-flex flex-wrap align-content-around justify-content-around">
                                <% color.each do |key,value| %>
                                    <%= form.radio_button 'back-radio', "back_color", id: "back_#{value}", class: "back-color-button" %>
                                    <label for="back_<%= value %>" class="back_<%= value %> switch-off" ><%= key %></label> 
                                <% end %>
                            </div>
                        </div>
                        <div class="form-group text-center mt-3">
                            <div class="row">
                                <div class="col-lg-5">
                                    <%= form.label :"タグクラウドにしたい文を入力" %>
                                    <%= form.text_field :title, class: "form-control sentence d-inline-block mr-1" %>
                                </div>
                                <div class="col-lg-1">
                                    <%= form.label :"レベル" %>
                                    <%= form.select "sentenceLevel", [["つよい", "strong"], ["ふつう", "normal"], ["よわい", "weak"]] ,class:"form-control" %>
                                </div>
                                <div class="col-lg-1">
                                    <%= form.label :"文字色" %>
                                    <%= form.select "sentenceColor", color ,class:"form-control" %>
                                </div>
                                <div class="col-lg-2">
                                    <div><%= form.label :"フォント" %></div>
                                    <%= form.select "sentenceFont", [["はんなり明朝", "Hannari"], ["こころ明朝", "Kokoro"], ["さわらび明朝", "Sawarabi Mincho"], ["さわらびゴシック", "Sawarabi Gothic"], ["ニクキュウ", "Nikukyu"], ["ニコモジ", "Nico Moji"], ["Noto Sans JP", "Noto Sans JP"]] ,class:"form-control" %>
                                </div>
                                <div class="col-lg-2">
                                    <div><%= form.label :"内容をクリア" %></div>
                                    <%= check_box_tag 'clearFlg', 'checked' %>
                                </div>
                                <div class="col-lg-1">
                                    <%= button_tag '追加', class: "btn btn-success addsentence mt-4", type: "button", name: "button-add" %>
                                </div>
                            </div>
                        </div>
                    <% end %>
                    <div class="row text-center pt-3">
                        <div class="col-lg-4 offset-lg-1">
                            <%= button_tag "タグクラウドを作成する", class: "btn btn-primary btn-block create", type: "button", remote: true %>
                        </div>
                        <div class="col-lg-4 offset-lg-2">
                            <%= button_tag '作成を中止する', class: "btn btn-danger btn-block canvasreset", data: {dismiss: "modal"}, type: "button" %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>